body {
    background: #ac8b8d;
}

h1 {
    color: #f3f3f3;
    padding-left: 10%;
    padding-top: 10%;
    font-weight: 700;
}

ol {
    list-style-type: none;

    display: grid;
    grid-template-columns: 200px 200px;
}

.itens {
    background-color: #c5811b;
    color: #ffffff;

    font-weight: 600;
    border-radius: 15px;
    margin: 5%;
    text-align: center;

    height: 100px;
    width: 120px;
}

li {
    margin: 10px;
    padding-top: 10%;
    font-weight: 800;
}